In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [28]:
os.chdir("data")

In [15]:
train_df = pd.read_csv("train.csv")
train_df.drop("row_id", inplace=True, axis=1)

In [17]:
train_df["first_day_of_month"] = pd.to_datetime(train_df["first_day_of_month"])

In [22]:
train_df.county.unique()

array(['Autauga County', 'Baldwin County', 'Barbour County', ...,
       'Uinta County', 'Washakie County', 'Weston County'], dtype=object)

In [23]:
train_df.county.value_counts()

Washington County        1170
Jefferson County          975
Franklin County           936
Lincoln County            897
Jackson County            897
                         ...
Androscoggin County        39
Winn Parish                39
West Feliciana Parish      39
West Carroll Parish        39
Weston County              39
Name: county, Length: 1871, dtype: int64

In [24]:
train_df.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [13]:
test_df = pd.read_csv("test.csv")

In [26]:
test_df

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]